:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;

  transition: top 30ms, left 30ms;
}

.jumper__body {
  transition: transform 20ms;
}

.jumper__name {
  position: absolute;
  top: -20px;
  left: -40px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
